.page-container {
  text-align: center;
  margin: 10px auto;
}

.btn {
  width: 300px;
  margin: 10px;
}

.btn-container {
  margin: auto;
  width: fit-content;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: lightblue;
}
